
@tailwind base;
@tailwind components;
@tailwind utilities;


.tag {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid;
}

.tag-default {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

.tag-node-runner {
  border-color: #A3E635;
  color: #A3E635;
}

.tag-fastest {
  border-color: #E879F9;
  color: #E879F9;
}